html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.flex {
    display: flex;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

#page-all {
    height: 100vh;
    background-color : black;
}

#main-img {
    max-width: 100vw;
}

.left-shadow {
    width: 100vw;
    height: 591px;
    background: linear-gradient(to right, rgb(0, 0, 0, 0.7), rgba(0,0,0,0));
    left: 0%;
    top: 0;
}

#banner {
    width: 100vw;
    height: 10vh;
    position: fixed;
    left:0;
    top:0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0));
}

#netflix-icon {
    width: 8vw;
    margin-left: 4vw;
    margin-top: 3vh;
}

#netflix-icon img {
    width: 7vw;
}

#netflix-icon img:hover {
    cursor: pointer;
}

#banner-menu {
    width: 67vw;
    margin-top: 3vh;
}

#banner-menu li {
    list-style: none;
    float: left;
    color: white;
    margin-left: 0.5vw;
    margin-right: 1vw;
    font-size: 15px;
    transition: all 0.5s;
}

#banner-menu li:hover {
    color: rgb(181, 180, 180);
    cursor: pointer;
}

#searching-tab {
    display: flex;
    flex: right;
    align-items: center;
    justify-content: center;
    margin: 1.5vw;
    
}

#searching-tab i:hover {
    cursor: pointer;
}

.whiteiconcolor {
    color: white;
}

#alarm-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

#profile {
    margin: 1vw;
    width: 3vw;
    background-color: beige;
}

#profile-togle {
    background-color: antiquewhite;
    width: 3vw;
}

#main-film-title {
    width: 30vw;
    height: 15vw;
    left: 5%;
    top: 20%;
}

#main-film-title img {
    width: 100%;
    height: 80%;

}

#main-film-sum {
    width: 40vw;
    height: 15vh;
    left: 5%;
    top: 50%;
}

.film-explanation {
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgb(94, 93, 93);
    line-height: 23px;
}
